.projSection{
    padding-top: 4vh;
    height: auto;
    margin: 0 5rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.mainBoxProject{
    display: flex;
    width: 100%;
    /* height: auto; */
    background-color: white;
    justify-content: center;
}

.subBoxProject{
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    justify-content: center;
    text-align: center;
    width: 980px;
    height: auto;
    margin-top: 50px;
    border: solid;
    border-color: orange;
    border-radius: 35px;
    box-shadow: 15px 15px 45px rgb(255, 132, 0);
}

.infoBoxProject{
    width: 100%;
}

.proH2{
    font-size: 45px;
    font-weight: 700;
    color: orange;
    text-align: center;
    justify-content: center;
}
.projectH3{
    font-size: 16px;
    font-weight: bold;
}
.projectH4{
    font-size: 13px;

}
.projectP{
    color: rgb(125, 125, 125) !important;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 100%;
}

.projectSkills{
    padding-left: 4px;
    padding-right: 4px;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    border: solid;
    background-color: white;
}


.projectImage{
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 24px;
}

.projectBtn{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: black;
    width: 60%;
    height: 8%;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    padding: 4px;
    margin-top: 18px;
    border: none;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 2px rgba(11, 15, 18, 0.856);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.experienceDetailsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: solid; */
}

.detailsContainer{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    flex: 1 !important;
    background: rgba(251, 154, 85, 0.447);
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border: solid;
    /* border-color: rgb(255, 111, 0); */
    text-align: center;
    border-color: rgb(255, 111, 0);
}

.articleContainer {
    display: flex !important;
    text-align: initial !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    gap: 2rem !important;
    justify-content: space-around !important;
}

.projectBtnContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.aboutContainer{
    gap: 1.5rem;
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1rem;
    flex-direction: row;  
    flex-wrap: wrap; 
}

@media only screen and  (max-width: 900px){
    .projectP{
        font-size: 17px;
    }

    .responsive-iframe
    {
        width: 400px;
        height: 250px;
    }
    .projectBtn{
        color: black !important;
    }
}

@media only screen and  (max-width: 500px){
    .projectP{
        font-size: 16px;
    }

    .responsive-iframe
    {
        width: 320px;
        height: 180px;
    }

    .projectBtn{
        color: black;
    }
}